# See https://help.github.com/ignore-files/ for more about ignoring files.

# Holds scope data from within docker containers
scope_data

# jetbrains settings
.idea

# vscode settings
/.vscode
/.deprecated

# Emacs
.dir-locals.el
*~

# pycache
**/__pycache__

# mypy
.mypy_cache/

.coverage
.hypothesis/

*.pptx
*.save
*.spec
**/.DS_Store

node_modules

# GRPC/Protocol buffers compiler output
server/scope_grpc_pb2*

# Server
server/scope.sqlite

server/scopeserver/__pycache__
server/scopeserver/scope_server.egg-info
server/scopeserver/data/my-looms
server/scopeserver/dataserver/test
server/scopeserver/dataserver/dist/
server/scopeserver/dataserver/pyvenv
server/scopeserver/dataserver/build
server/scopeserver/dataserver/logs
server/scope_server.egg-info

apache/scope.conf

assets

release/*
release/logs
debug
