# See https://help.github.com/ignore-files/ for more about ignoring files.

# vscode settings
/.vscode
/.deprecated
.gitignore

# pycache
**/__pycache__

/**/*lock.json
*.pptx
*.save
*.spec
**/.DS_Store

node_modules

# Server
opt/build/
opt/dist/

opt/scopeserver/__pycache__
opt/scopeserver/scope_server.egg-info
opt/scopeserver/data/my-looms
opt/scopeserver/dataserver/test
opt/scopeserver/dataserver/data
opt/scopeserver/dist/
opt/scopeserver/dataserver/pyvenv
opt/scopeserver/build
opt/scopeserver/dataserver/logs
opt/scope_server.egg-info

opt/scopeserver/bindserver/pbjs*
opt/scopeserver/bindserver/window-size*

apache/scope.conf

assets

release/*
release/logs
