div.appPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.viewControls {
    flex-grow: 1;
    margin-bottom: 2rem !important;
}

div.compare-menu {
    position: fixed;
    overflow-y: scroll;
    height: 85vh;
    bottom: 0;
    width: 150px;
}

b.viewerLabel {
    position: absolute;
    top: -0.5em;
}
