.menu.toolbar {
	max-width: 55px;
}
canvas {
	border: 1px solid black;
}
.auc {
	text-align: center;
}
.row {
	padding-bottom: 0px !important;
}
.parentView {
	height: 100vh;
}
html,body {
	height: 100%;
}
body:before{
    width:100%;
    height:100%;
    display:block;
}

.emptyDropContainer {
	border: 1px solid black;
}

.fullDropContainer, .dropRow {
	background: #eee;
}

.dropContainer {
	text-align: center;
	min-height: 30px;
	padding-top: 5px;
}

.dropContainer p {
	position: relative;
	top: 38%;
}

.dropZone.vertical {
	text-align: center;
	transform: rotate(90deg);
    transform-origin: top left;
    position: absolute;
}