.pusher {
	display: flex;
	flex-direction: column;
	overflow-y:	scroll !important;
}

.ui .grid {
	margin: 0px !important;
	display: flex;
	flex: 1;
	flex-direction: column;
	min-height: 100%;
	min-width: 100%;
	align-content: stretch;
	align-items: stretch;
}

.menu.toolbar {
	max-width: 50px;
}

canvas {
	border: 1px solid black;
}

.auc {
	text-align: center;
}

.row {
	padding-bottom: 0px !important;
}

.parentView {
	padding: 0px !important;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
}

.emptyDropContainer {
	border: 1px solid black;
}

.fullDropContainer, .dropRow {
	background: #eee;
}

.dropContainer {
	text-align: center;
	flex:1;
	min-height: 30px;
	padding-top: 5px;
}

.blockDisplay {
	display: block !important;
}

.flexDisplay {
	display: flex;
}

.dropContainer p {
	position: relative;
	top: 38%;
}

.dropZone.vertical {
	text-align: center;
	transform: rotate(90deg);
    transform-origin: top left;
    position: absolute;
}

.viewerRow {
	padding-top: 0px !important;
	
}

.pusher .segment {
	padding-bottom:  0px !important;
}

.noStretch {
	flex-grow: 0 !important;
}

.stretched {
	flex: 1
}

.stretched > .column > b {
	flex-grow: 0 !important;
}

.flexDouble {
	flex: 2;
}

.viewerCell {
	padding: 2px !important;
	word-break: break-all;
}

.marginBottom {
	margin-bottom: 10px !important;
}