.ui.category.search>.results {
	overflow-y: auto;
	max-height: 550px;
	width: auto;
	float: none;
}

.ui.category.search>.results .category>.name {
	width: auto;
	float: none;
}

a.active.item.annotation {
	font-weight: bold !important;
}

.noFrame {
	padding: 0px !important;
}

  .highlight-enter {
	background: white;
  }

  .highlight-enter.highlight-enter-active {
	background: yellow;
  }

  .highlight-leave {
	background: yellow;
	opacity: 1;
  }

  .highlight-leave.highlight-leave-active {
	background: white;
	opacity: 0;
	transition: opacity 10ms ease-in;
  }

  .collab-anno {
	position: absolute;
	left: 30%;
	/* transform: translate(-50%, -50%); */
  }

  .collab-anno-drop>.search {
	  width: 100% !important;
  }