/*
VIB colours:
  orange: #ff681e;
  violet: #5a2a82;
  green: #3abbba;
  blue: #1b2944;
*/

.ui.secondary.vib.inverted.menu {
	color: white;
	background-color: #1b2944;
	margin-top: 0px;
}

.ui.basic.active.button {
	background-color: #ff681e !important;
	color: white !important;
}

.ui.basic.button {
	color: white !important;
}

.ui.basic.button:hover {
	background-color: #ff681e !important;
	color: white !important;
}

.pointer {
	cursor: pointer;
}

.pointer:hover {
	color: #ff681e !important;
}

.sessionInfo {
	position: absolute !important;
	right: 0px;
}

.sessionReset {
	position: absolute !important;
	right: 0px;
}

.pusher .segment.noPadding {
	padding: 5px !important;
}

.typeSelect {
	min-width: 115px !important;
}

.message.empty .header {
	font-size: 0.75rem !important;
}

.permalink {
	user-select: all !important;
}
.ui.label {
	padding: 4px !important;
}
