/*
VIB colours:
  orange: #ff681e;
  violet: #5a2a82;
  green: #3abbba;
  blue: #1b2944;
*/

.ui.secondary.vib.inverted.menu {
	color: white;
	background-color: #1b2944;
	margin-top: 0px;
}

.ui.basic.active.button {
	background-color: #ff681e !important;
	color: white !important;
}

.ui.basic.button {
	color: white !important;
}

.ui.basic.button:hover {
	background-color: #ff681e !important;
	color: white !important;
}

.pointer {
	cursor: pointer;
}

.pointer:hover {
	color: #ff681e !important;
}

.sessionInfo {
	position: absolute !important;
	right: 0px;
}

.sessionReset {
	position: absolute !important;
	right: 0px;
}

.pusher .segment.noPadding {
	padding: 5px !important;
}

.message.empty .header {
	font-size: 0.75rem !important;
}

.permalink {
	user-select: all !important;
	vertical-align: middle !important;
}
.ui.label {
	padding: 4px !important;
}

.orcidInfo {
	position: relative !important;
	top: 2px;
	left: 0px;
}

#connect-orcid-button{
	border: 1px solid #D3D3D3;
	padding: .3em;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 1px 1px 3px #999;
	cursor: pointer;
	color: #999;
	font-weight: bold;
	font-size: .8em;
	line-height: 24px;
	vertical-align: middle;
}

#connect-orcid-button:hover{
	border: 1px solid #338caf;
	color: #338caf;
}

#orcid-id-icon{
	display: block;
	margin: 0 .5em 0 0;
	padding: 0;
	float: left;
}
