.item {
	min-height: 100%;
}

.menu.logos {
	text-align: center;
	position: absolute;
	left: 10%;
	right: 10%;
	bottom: 1%;
	margin-top: 50px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.pushable {
	height: auto !important;
}