.menu.logos {
	text-align: center;
}

.header {
	padding-left: 0.5em;
}

.pushable {
	flex-grow: 1;
	overflow: auto;
}

.ui {
	font-size: 0.75rem !important;
}

.push.sidebar {
	overflow-y: visible !important;
}

.vertical .active.item {
	font-weight: bold !important;
	color: black !important;
}

.vertical.menu .active.item {
	background: rgba(255, 104, 30, 1) !important;
}

.vertical .item:hover {
	font-weight: bold !important;
	color: black !important;
}

.sidebarTabs {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.sidebarTabs a:nth-child(2) {
	color: red !important;
}

.sidebarTabs a.active:nth-child(2)  {
	border-color: red !important;
}

.sidebarTabs a:nth-child(3) {
	color: green !important;
}

.sidebarTabs a.active:nth-child(3)  {
	border-color: green !important;
}

.sidebarTabs a:nth-child(4) {
	color: blue !important;
}

.sidebarTabs a.active:nth-child(4)  {
	border-color: blue !important;
}

.geneInfo {
	max-height: 200px;
	overflow-y: scroll;
}

.selectionRow {
	padding-top: 5px !important;
}

.viewerToolbar {
	flex-basis: 100px;
}

.ui.segment.basic {
	padding: 0px;
	padding-left: 10px;
}

.ui.accordion {
	flex-grow: 0 !important;
}

.ui.pointing.secondary.menu {
	margin: 0px;
}

.ui.modal.transition.visible.active {
	margin-top: 5% !important;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto
}
.rc-slider {
	margin: 0px !important;
}
.level0 {
	font-weight: bold;
	padding-left: 5px !important;
	font-size: 1.2em;
}
.level1 {
	padding-left: 10px !important;
	font-size: 1.15em;
}
.level2 {
	padding-left: 15px !important;
	font-size: 1.1em;
}
.level3 {
	padding-left: 20px !important;
	font-size: 1.05em;
}
.level4 {
	padding-left: 25px !important;
}
