div#scope {
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.viewerFlex {
    flex-grow: 1;
}

.viewcontainer {
    height: 100%;
    position: relative;
}

.viewcontainer > canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
}
