div#scope {
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.pushable {
    width: 100%;
    min-height: 100%;
    height: auto;
    flex: 1;
    display: flex;
    flex-dirction: column;
}

.pusher {
    width: 100%;
    min-height: 100%;
    flex: 1;
}

.ui.grid {
    flex-direction: column !important;
    height: 100%;
}

.viewerFlex {
    flex-grow: 1;
}

.viewcontainer {
    height: 100%;
    position: relative;
}

.viewcontainer > canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
}
