.feature-search-input {
    display: inline-block;
    width: 70%;
}

.feature-search-input > .input {
    width: 100%;
}

.feature-search-input > .input > input{
    border-radius: 3px !important;
}

.typeSelect {
    display: inline-block;
    width: 30% !important;
    min-width: 85px !important;
}
